/* ============ */
/* = DEFAULTS = */
/* ============ */
/* line 28, ../sass/layout.sass */
html * {
  font: normal normal normal 12pt/normal Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

/* ========= */
/* = PAGES = */
/* ========= */
@page {
  margin: 12mm 16mm 10mm 16mm;
  size: 7in 9.25in landscape;
  @footnotes {
    border-top: thin solid black;
    margin-left: 30%;
    margin-top: 0.6em;
    padding-top: 0.3em;
}

  @bottom-right {
    color: black;
    content: counter(page);
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    margin-top: -10px;
    margin-right: -40px;
}
}

@page toc {
  margin-right: 6mm;
  @bottom-right {
    content: "";
}
}

@page cover {
  margin: 0;
  @bottom-right {
    content: "";
}
}

/* ============= */
/* = BOOKMARKS = */
/* ============= */
/* line 68, ../sass/layout.sass */
h1, h2, h3, h4, h5, h6 {
  prince-bookmark-level: none;
}

/* line 71, ../sass/layout.sass */
.frontcover h1 {
  prince-bookmark-level: 1;
}

/* line 75, ../sass/layout.sass */
.chapter h2 {
  prince-bookmark-level: 2;
}
/* line 77, ../sass/layout.sass */
.chapter h3 {
  prince-bookmark-level: 3;
}
/* line 79, ../sass/layout.sass */
.chapter h4 {
  prince-bookmark-level: 4;
}
/* line 81, ../sass/layout.sass */
.chapter h5 {
  prince-bookmark-level: 5;
}
/* line 83, ../sass/layout.sass */
.chapter h6 {
  prince-bookmark-level: 6;
}

/* ============= */
/* = CONTAINER = */
/* ============= */
/* line 91, ../sass/layout.sass */
div.container {
  height: 7in;
  left: 0;
  page: cover;
  position: absolute;
  top: 0;
  width: 9.25in;
  z-index: -1;
}
/* line 99, ../sass/layout.sass */
div.frontcover {
  background: white;
}
/* line 101, ../sass/layout.sass */
div.frontcover div {
  left: 1in;
  padding-top: 0.25in;
  position: absolute;
  top: 2.5in;
  width: 7.25in;
}
/* line 107, ../sass/layout.sass */
div.frontcover h1 {
  color: #999999;
  font-size: 42pt;
}
/* line 110, ../sass/layout.sass */
div.frontcover p {
  font-size: 18pt;
}
/* line 112, ../sass/layout.sass */
div.frontcover p.description {
  color: #666666;
  font: italic normal normal 14pt/normal Baskerville, "Hoefler Text", Garamond, "Times New Roman", serif;
  margin-top: -0.1in;
}
/* line 116, ../sass/layout.sass */
div.frontcover p.authors {
  color: black;
  font-style: italic;
  position: absolute;
  top: 0;
}
/* line 121, ../sass/layout.sass */
div.frontcover * {
  margin: 0;
}

/* ============== */
/* = FRONTCOVER = */
/* ============== */
/* =========== */
/* = CHAPTER = */
/* =========== */
/* line 132, ../sass/layout.sass */
#chapters {
  counter-reset: page 1;
  counter-reset: chapter 0;
  page-break-before: always;
}

/* line 137, ../sass/layout.sass */
.chapter {
  color: #444444;
  counter-reset: footnote 0;
  page-break-after: always;
}
/* line 141, ../sass/layout.sass */
.chapter a {
  color: #00aaee;
  text-decoration: none;
}
/* line 144, ../sass/layout.sass */
.chapter h2, .chapter h3, .chapter h4, .chapter h5 {
  margin: 25pt 0 15pt 0;
}
/* line 146, ../sass/layout.sass */
.chapter h2 {
  color: #222222;
  counter-increment: chapter;
  font-size: 32pt;
  line-height: 1;
  string-set: header "Chapter " counter(chapter) ": " content();
}
/* line 152, ../sass/layout.sass */
.chapter h2::before {
  content: "Chapter " counter(chapter);
  color: #999999;
  display: block;
  font-size: 18pt;
  letter-spacing: 0;
  margin-bottom: 0.3em;
  white-space: pre;
}
/* line 160, ../sass/layout.sass */
.chapter h3, .chapter h5 {
  font-family: "helvetica", arial, sans-serif;
}
/* line 162, ../sass/layout.sass */
.chapter h3 {
  color: #b62f32;
  font-size: 28px;
}
/* line 165, ../sass/layout.sass */
.chapter h4 {
  font-size: 18px;
  font-family: "helvetica neue", "arial narrow", sans-serif;
}
/* line 168, ../sass/layout.sass */
.chapter h5 {
  font-size: 15px;
}
/* line 170, ../sass/layout.sass */
.chapter h6 {
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
}

/* line 175, ../sass/layout.sass */
.imprint {
  background-color: #e2e7e2;
  page: cover;
  string-set: header "";
  color: #5b5b5b;
}
/* line 180, ../sass/layout.sass */
.imprint * {
  color: #5b5b5b;
  font-family: "Lucida Grande", arial, sans-serif;
  font-size: 10pt;
  margin: 0 0 2pt 0;
}
/* line 185, ../sass/layout.sass */
.imprint div {
  left: 0.5in;
  position: absolute;
  bottom: 0.3in;
}

/* ========== */
/* = CODING = */
/* ========== */
/* line 195, ../sass/layout.sass */
pre span, code span {
  color: #578d97;
  font-family: monaco, monospace;
  font-size: 9pt;
  line-height: 1;
}

/* line 200, ../sass/layout.sass */
pre {
  font-size: 8pt;
  line-height: 1;
  padding: 15pt;
  background-color: #ededed;
  -border-radius-topright: 2mm;
  -moz-border-radius-topright: 2mm;
  -webkit-border-top-right-radius: 2mm;
  -border-radius-bottomright: 2mm;
  -moz-border-radius-bottomright: 2mm;
  -webkit-border-bottom-right-radius: 2mm;
  -border-radius-topleft: 2mm;
  -moz-border-radius-topleft: 2mm;
  -webkit-border-top-left-radius: 2mm;
  -border-radius-bottomleft: 2mm;
  -moz-border-radius-bottomleft: 2mm;
  -webkit-border-bottom-left-radius: 2mm;
}
/* line 206, ../sass/layout.sass */
pre code {
  font-size: 8pt;
  line-height: 1;
  padding: 15pt;
}

/* ========= */
/* = TABLE = */
/* ========= */
/* line 215, ../sass/layout.sass */
table {
  border-collapse: collapse;
}

/* line 218, ../sass/layout.sass */
thead th {
  background-color: #e9e9e9;
}

/* line 221, ../sass/layout.sass */
th, td {
  border: 1px solid #cccccc;
  font-size: 11pt;
  padding: 5pt;
}

/* ========= */
/* = LISTS = */
/* ========= */
/* line 230, ../sass/layout.sass */
li {
  margin-bottom: 8pt;
}
/* line 232, ../sass/layout.sass */
li ul, li ol {
  margin-left: 15pt;
}

/* ========== */
/* = FIGURE = */
/* ========== */
/* line 239, ../sass/layout.sass */
.figure img:after {
  content: attr("alt");
  display: block;
  font-size: 10pt;
}

/* line 244, ../sass/layout.sass */
img {
  max-width: none;
  prince-image-resolution: 96dpi;
}

/* line 248, ../sass/layout.sass */
.figure {
  float: right;
  margin: 0 0 20pt 20pt;
  overflow: auto;
  text-align: center;
}

/* ===================== */
/* = TABLE OF CONTENTS = */
/* ===================== */
/* line 258, ../sass/layout.sass */
div.table-of-contents {
  page: toc;
}
/* line 260, ../sass/layout.sass */
div.table-of-contents h2 {
  font-size: 36pt;
}
/* line 262, ../sass/layout.sass */
div.table-of-contents a {
  font-size: 11pt;
  text-decoration: none;
}
/* line 265, ../sass/layout.sass */
div.table-of-contents div.level2 a {
  color: black;
  font-weight: bold;
}
/* line 268, ../sass/layout.sass */
div.table-of-contents #toc {
  column-count: 2;
  column-fill: auto;
  column-gap: 5%;
  column-rule: none;
  column-width: 45%;
}
/* line 274, ../sass/layout.sass */
div.table-of-contents #toc div {
  padding-bottom: 10px;
}
/* line 276, ../sass/layout.sass */
div.table-of-contents div.level3 {
  margin-left: 20px;
}
/* line 278, ../sass/layout.sass */
div.table-of-contents #toc div.level3 a {
  color: #555555;
}
/* line 281, ../sass/layout.sass */
div.table-of-contents div a::before {
  color: #888888;
  content: target-counter(attr(href), page) " ";
  float: left;
  font-weight: normal;
  font-size: 11pt !important;
  margin-right: 4px;
  width: 40px;
}
/* line 289, ../sass/layout.sass */
div.table-of-contents div.level3 a::before {
  width: 20px;
}
/* line 291, ../sass/layout.sass */
div.table-of-contents div.level4, div.table-of-contents div.level5, div.table-of-contents div.level6 {
  display: none;
}

/* ===================== */
/* = OTHER TEXT TWEAKS = */
/* ===================== */
/* line 298, ../sass/layout.sass */
acronym:after {
  content: " (" attr(title) ")";
}

/* ============= */
/* = HIGHLIGHT = */
/* ============= */
/* line 305, ../sass/layout.sass */
.highlight {
  font-size: 20pt;
}
/* line 307, ../sass/layout.sass */
.highlight strong {
  color: #b62f32;
}
