/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ============ */
/* = DEFAULTS = */
/* ============ */
/* line 28, ../sass/layout.sass */
html * {
  font: normal normal normal 12pt/normal Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

/* ========= */
/* = PAGES = */
/* ========= */
@page {
  margin: 12mm 16mm 10mm 16mm;
  size: 7in 9.25in landscape;
  @footnotes {
    border-top: thin solid black;
    margin-left: 30%;
    margin-top: 0.6em;
    padding-top: 0.3em;
}

  @bottom-right {
    color: black;
    content: counter(page);
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
    margin-top: -10px;
    margin-right: -40px;
}
}

@page toc {
  margin-right: 6mm;
  @bottom-right {
    content: "";
}
}

@page cover {
  margin: 0;
  @bottom-right {
    content: "";
}
}

/* ============= */
/* = BOOKMARKS = */
/* ============= */
/* line 68, ../sass/layout.sass */
h1, h2, h3, h4, h5, h6 {
  prince-bookmark-level: none;
}

/* line 71, ../sass/layout.sass */
.frontcover h1 {
  prince-bookmark-level: 1;
}

/* line 75, ../sass/layout.sass */
.chapter h2 {
  prince-bookmark-level: 2;
}
/* line 77, ../sass/layout.sass */
.chapter h3 {
  prince-bookmark-level: 3;
}
/* line 79, ../sass/layout.sass */
.chapter h4 {
  prince-bookmark-level: 4;
}
/* line 81, ../sass/layout.sass */
.chapter h5 {
  prince-bookmark-level: 5;
}
/* line 83, ../sass/layout.sass */
.chapter h6 {
  prince-bookmark-level: 6;
}

/* ============= */
/* = CONTAINER = */
/* ============= */
/* line 91, ../sass/layout.sass */
div.container {
  height: 7in;
  left: 0;
  page: cover;
  position: absolute;
  top: 0;
  width: 9.25in;
  z-index: -1;
}
/* line 99, ../sass/layout.sass */
div.frontcover {
  background: white;
}
/* line 101, ../sass/layout.sass */
div.frontcover div {
  left: 1in;
  padding-top: 0.25in;
  position: absolute;
  top: 2.5in;
  width: 7.25in;
}
/* line 107, ../sass/layout.sass */
div.frontcover h1 {
  color: #999999;
  font-size: 42pt;
}
/* line 110, ../sass/layout.sass */
div.frontcover p {
  font-size: 18pt;
}
/* line 112, ../sass/layout.sass */
div.frontcover p.description {
  color: #666666;
  font: italic normal normal 14pt/normal Baskerville, "Hoefler Text", Garamond, "Times New Roman", serif;
  margin-top: -0.1in;
}
/* line 116, ../sass/layout.sass */
div.frontcover p.authors {
  color: black;
  font-style: italic;
  position: absolute;
  top: 0;
}
/* line 121, ../sass/layout.sass */
div.frontcover * {
  margin: 0;
}

/* ============== */
/* = FRONTCOVER = */
/* ============== */
/* =========== */
/* = CHAPTER = */
/* =========== */
/* line 132, ../sass/layout.sass */
#chapters {
  counter-reset: page 1;
  counter-reset: chapter 0;
  page-break-before: always;
}

/* line 137, ../sass/layout.sass */
.chapter {
  color: #444444;
  counter-reset: footnote 0;
  page-break-after: always;
}
/* line 141, ../sass/layout.sass */
.chapter p {
  margin-bottom: 5mm;
}
/* line 143, ../sass/layout.sass */
.chapter p em {
  font-style: italic;
}
/* line 145, ../sass/layout.sass */
.chapter a {
  color: blue;
  text-decoration: none;
}
/* line 148, ../sass/layout.sass */
.chapter h2, .chapter h3, .chapter h4, .chapter h5 {
  margin: 25pt 0 15pt 0;
}
/* line 150, ../sass/layout.sass */
.chapter h2 {
  color: #222222;
  counter-increment: chapter;
  font-size: 32pt;
  line-height: 1;
  string-set: header "Chapter " counter(chapter) ": " content();
}
/* line 156, ../sass/layout.sass */
.chapter h2::before {
  content: "Chapter " counter(chapter);
  color: #999999;
  display: block;
  font-size: 18pt;
  letter-spacing: 0;
  margin-bottom: 0.3em;
  white-space: pre;
}
/* line 164, ../sass/layout.sass */
.chapter h3, .chapter h5 {
  font-family: "helvetica", arial, sans-serif;
}
/* line 166, ../sass/layout.sass */
.chapter h3 {
  color: #b62f32;
  font-size: 28px;
}
/* line 169, ../sass/layout.sass */
.chapter h4 {
  font-size: 18px;
  font-family: "helvetica neue", "arial narrow", sans-serif;
}
/* line 172, ../sass/layout.sass */
.chapter h5 {
  font-size: 15px;
}
/* line 174, ../sass/layout.sass */
.chapter h6 {
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
}

/* line 179, ../sass/layout.sass */
.imprint {
  background-color: #e2e7e2;
  page: cover;
  string-set: header "";
  color: #5b5b5b;
}
/* line 184, ../sass/layout.sass */
.imprint * {
  color: #5b5b5b;
  font-family: "Lucida Grande", arial, sans-serif;
  font-size: 10pt;
  margin: 0 0 2pt 0;
}
/* line 189, ../sass/layout.sass */
.imprint div {
  left: 0.5in;
  position: absolute;
  bottom: 0.3in;
}

/* ========== */
/* = CODING = */
/* ========== */
/* line 199, ../sass/layout.sass */
pre span, code span {
  color: #578d97;
  font-family: monaco, monospace;
  font-size: 9pt;
  line-height: 1;
}

/* line 204, ../sass/layout.sass */
pre {
  font-size: 8pt;
  line-height: 1;
  padding: 15pt;
  background-color: #ededed;
  -border-radius-topright: 4mm;
  -moz-border-radius-topright: 4mm;
  -webkit-border-top-right-radius: 4mm;
  -border-radius-bottomright: 4mm;
  -moz-border-radius-bottomright: 4mm;
  -webkit-border-bottom-right-radius: 4mm;
  -border-radius-topleft: 4mm;
  -moz-border-radius-topleft: 4mm;
  -webkit-border-top-left-radius: 4mm;
  -border-radius-bottomleft: 4mm;
  -moz-border-radius-bottomleft: 4mm;
  -webkit-border-bottom-left-radius: 4mm;
}
/* line 210, ../sass/layout.sass */
pre code {
  font-size: 8pt;
  line-height: 1;
  padding: 15pt;
}

/* ========= */
/* = TABLE = */
/* ========= */
/* line 219, ../sass/layout.sass */
table {
  border-collapse: collapse;
}

/* line 222, ../sass/layout.sass */
thead th {
  background-color: #e9e9e9;
}

/* line 225, ../sass/layout.sass */
th, td {
  border: 1px solid #cccccc;
  font-size: 11pt;
  padding: 5pt;
}

/* ========= */
/* = LISTS = */
/* ========= */
/* line 234, ../sass/layout.sass */
li {
  margin-bottom: 8pt;
}
/* line 236, ../sass/layout.sass */
li ul, li ol {
  margin-left: 15pt;
}

/* ========== */
/* = FIGURE = */
/* ========== */
/* line 243, ../sass/layout.sass */
.figure img:after {
  content: attr("alt");
  display: block;
  font-size: 10pt;
}

/* line 248, ../sass/layout.sass */
img {
  max-width: none;
  prince-image-resolution: 96dpi;
}

/* line 252, ../sass/layout.sass */
.figure {
  /*float: right */
  /*margin: 0 0 20pt 20pt */
  overflow: auto;
  text-align: center;
}

/* ===================== */
/* = TABLE OF CONTENTS = */
/* ===================== */
/* line 262, ../sass/layout.sass */
div.table-of-contents {
  page: toc;
}
/* line 264, ../sass/layout.sass */
div.table-of-contents h2 {
  font-size: 36pt;
}
/* line 266, ../sass/layout.sass */
div.table-of-contents a {
  font-size: 11pt;
  text-decoration: none;
}
/* line 269, ../sass/layout.sass */
div.table-of-contents div.level2 a {
  color: black;
  font-weight: bold;
}
/* line 272, ../sass/layout.sass */
div.table-of-contents #toc {
  column-count: 2;
  column-fill: auto;
  column-gap: 5%;
  column-rule: none;
  column-width: 45%;
}
/* line 278, ../sass/layout.sass */
div.table-of-contents #toc div {
  padding-bottom: 10px;
}
/* line 280, ../sass/layout.sass */
div.table-of-contents div.level3 {
  margin-left: 20px;
}
/* line 282, ../sass/layout.sass */
div.table-of-contents #toc div.level3 a {
  color: #555555;
}
/* line 285, ../sass/layout.sass */
div.table-of-contents div a::before {
  color: #888888;
  content: target-counter(attr(href), page) " ";
  float: left;
  font-weight: normal;
  font-size: 11pt !important;
  margin-right: 4px;
  width: 40px;
}
/* line 293, ../sass/layout.sass */
div.table-of-contents div.level3 a::before {
  width: 20px;
}
/* line 295, ../sass/layout.sass */
div.table-of-contents div.level4, div.table-of-contents div.level5, div.table-of-contents div.level6 {
  display: none;
}

/* ===================== */
/* = OTHER TEXT TWEAKS = */
/* ===================== */
/* line 302, ../sass/layout.sass */
acronym:after {
  content: " (" attr(title) ")";
}

/* ============= */
/* = HIGHLIGHT = */
/* ============= */
/* line 309, ../sass/layout.sass */
.highlight {
  margin: 5mm 0;
  font-size: 20pt;
}
/* line 312, ../sass/layout.sass */
.highlight strong {
  color: #b62f32;
}
